/* 
index.html Styles
.main-container holds all elements
.ryu-container holds fighter gifs
.hadouken-container holds animated gif
.txt-containers hold text boxes
*/

/**************************
  General element attributes
**************************/
body {
	background-color: black;

}

/** {
	outline: red 1px solid;
}*/

/****************************
  Main-Container Attributes
****************************/
.main-container {
  	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}


/****************************
  ryu-Container Attributes
****************************/
.ryu-container {
	width: 659px;
	height: 494px;
}


/*********************************
  ALL ryu image Attributes
*********************************/
.ryu-still, .ryu-ready, .ryu-throwing {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing {
	display: none;
}


/*********************************
  Individual ryu image Attributes
*********************************/
.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}
.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}
.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}
.ryu-still, .ryu-ready, .ryu-throwing, .hadouken {
	background-repeat: no-repeat;
}


/*********************************
  hadouken Attributes
*********************************/
.hadouken {
	display: none;
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	float: left;
	position: absolute;
	z-index: 10;
	top: 175px;
	left: 620px;
}


/*********************************
  INITAL ryu 'display' Attributes
*********************************/
.ryu-ready, .ryu-throwing {
	display: none;
}

